{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": false,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "strict": [2, "never"],
  }
}
